.mainTable {
    margin-top: 30px;
}

.mainTableCol {
    padding-left: 0!important;
    padding-right: 0!important;
}

.innerTable td {
    border: 0!important;
    padding-bottom: 0!important;
}

.innerTable,
.innerTable tr,
.innerTable td {
    background: transparent!important;
    margin: 0;
}

.nameCol {
    width: 22%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 194px;
}

.nameCol span {
    white-space: nowrap;
}

.editNameCol {
    width: 22%;
    padding-top: 0!important;
}

.idCol {
    width: 14%;
}

.actionsCol {
    width: 56%;
    padding-right: 0!important;
    padding-left: 0!important;
}

.actionsCol a {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.actionsCol a:hover,
.actionsCol a {
    background-color: transparent!important;
    color: #337ab7!important;
}

.removeCol {
    width: 8%;
}

.removeBtn {
    border: 0;
    background-color: transparent;
    padding-top: 0;
    padding-left: 0;
}

.removeBtn:hover, .removeBtn:focus {
    background-color: transparent!important;
}

.renameInput > div {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.renameInput {
    margin-bottom: 10px;
}

.testNameInput {
    padding-left: 0;
}

.testNameInput > div {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.renameActionCol {
    padding-top: 0!important;
}
