.main {
    margin: 40px 0;
}

.controlsBlock {
    margin-top: 40px;
}

.widgetSelect, .rmWidgetMessage {
    margin-top: 14px;
}

.testItemRow {
    margin-top: 10px;
}

.orBetweenControls {
    margin-top: 6px;
}

.noPadding {
    padding: 0;
}

.removeBtn {
    border: 0;
    background-color: transparent;
    margin-top: 14px;
}

.removeBtn:hover, .removeBtn:focus {
    background-color: transparent!important;
}

.rmWidgetMessage {
    display: inline-block;
}
