.table th {
    cursor: pointer;
}

.tHead {
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    max-width: 94px;
    overflow: hidden;
    padding-right: 12px;
}

.sorting {
    background: url("/vendor/img/sort_both.png") no-repeat center right;
}

.sorting.active.desc {
    background: url("/vendor/img/sort_desc.png") no-repeat center right;
}

.sorting.active.asc {
    background: url("/vendor/img/sort_asc.png") no-repeat center right;
}

.nameCol {
    width: 15%;
}

.createdCol {
    width: 17%;
}

.nameText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
    display: block;
}

.csvExportPanel {
    margin-bottom: 20px;
    text-align: right;
}

.tableSizePanel {
    margin-top: 20px;
    text-align: right;
}

.tableSizeLabel, .tableSize, .tablePager {
    display: inline-block;
    vertical-align: middle;
}

.tablePager ul {
    margin: 0;
}


.tablePager {
    margin-left: 20px;
}

.tableSize {
    margin-left: 10px;
}

/*select fix*/
.tableSize > div {
    margin: 0;
}

.tableSizeSelect {
    margin: 0;
    margin-bottom: 4px;
}
