.table {
    margin-top: 20px;
}

.table td {
    vertical-align: middle!important;
}

.numCol {
    text-align: center;
}

.nameCol {
    width: 30%;
}

.idCol {
    width: 14%;
}

.placescol {
    width: 50%;
    padding-right: 40px!important;
}

.nameText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px;
    display: block;
}

.question {
    margin-left: 20px;
}

.saveButton {
    margin: 20px 0 10px;
}
