.dropdown {
    border: 0;
    height: 60px;
    color: #8b8b8b;
    margin-bottom: 0!important;
}
.dropdown:hover {
    background-color: #f7f7f7;
    color: #8b8b8b;
}
.dropdown:focus {
    background-color: #f7f7f7;
}
.dropdownInlineHelper {
    position: relative!important;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
}
.dropdownArrow {
    margin-left: 5px;
}
