.dashboardGrid {
    margin: 0;
    padding: 0;
}
.dashboardPanel {
    background: #FFF;
    margin-bottom: 20px;
}

.chartPanel > div:first-child {
    background-color: #FFF;
}
.shortPanel {
    max-width: 340px;
    margin: 0 auto 20px;
}
.statisticsLabel {
    margin-right: 20px;
}
.toCsv {
    margin-top: 10px;
}

.overviewPanel {
    position: relative;
    padding-right: 10px;
}

.overviewPanelValue {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    margin-top: 0!important;
}

@media (min-width: 1500px) {
    .shortPanel {
        margin: 0;
    }
}
