.noPadding {
    padding: 0;
}
.dateInputs {
    margin-top: 15px;
}
.datePrecet, .dateInputs {
    text-align: center;
}
.dateButtonGroup {
    width: 190px;
}
.inlineDateInput {
    display: inline-block;
    max-width: 114px;
    vertical-align: bottom;
    margin-bottom: -15px;
}
.datePickerLabel {
    margin-right: 10px;
}
.widgetSelect, .applyButton {
    margin-top: 20px;
    text-align: center;
}


@media (min-width: 425px) {
    .dateButtonGroup {
        width: initial;
    }
    .datePickerBlock {
        display: inline-block;
    }
    div.datePickerBlock:first-child {
        margin-right: 20px;
    }
}
@media (min-width: 670px) {
    .dateInputs {
        text-align: left;
    }
    .dateInputs {
        max-width: 60%;
    }
    .widgetSelect, .applyButton {
        margin-top: 15px;
        max-width: 20%;
    }
}
@media (min-width: 993px) {
    .applyButton {
        text-align: right;
    }
    .widgetSelect, .applyButton {
        max-width: 100%;
    }
    .dateInputs, .widgetSelect, .applyButton {
        margin-top: 0;
    }
    .dateInputs {
        white-space: nowrap;
    }
    div.datePickerBlock:first-child {
        margin-right: 15px;
    }
}
@media (min-width: 1025px) {
    .dateInputs {
        white-space: normal;
    }
    .widgetSelect, .applyButton {
        width: 25%;
    }
    .applyButton {
        margin-top: 5px;
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .datePrecet {
        width: 42%;
        text-align: left;
    }
    .dateInputs {
        width: 32%;
        white-space: nowrap;
        padding-left: 0;
    }
    .widgetSelect {
        width: 15%;
        text-align: left;
    }
    .applyButton {
        width: 10%;
        text-align: left;
        margin-top: 0%;
        padding-left: 0;
    }
    div.datePickerBlock:first-child {
        margin-right: 10px;
    }
}
