.widget {
    line-height: 36px;
}
.widgetBuildInTip {
    margin-bottom: 20px;
}

.widgetName {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 194px;
}
.widgetName span {
    white-space: nowrap;
}
.widgetNameCol {
    height: 36px;
}
.widgetNameInput {
    padding-left: 0;
}
.widgetNameInput > div {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.actionItem > a {
    padding: 0 15px!important;
}
li.actionItem:first-child > a {
    padding-left: 0!important;
}
.actionItem > a:hover,
.actionItem > a {
    background-color: transparent!important;
    color: #337ab7!important;
}
.actionItem > a:hover {
    color: #7cd8a9!important;
}
.viewEditor {
    display: block;
    width: 60%;
    line-height: 18px;
}
.widgetCreateForm,
.viewEditorSubmit,
.downloadSelect {
    margin-top: 15px;
    margin-bottom: 5px;
}
.downloadSelect {
    margin-left: 20px!important;
}
.downloadPreview {
    background-color: #FFF;
}
.actionPanel {
    border: 1px solid #DDD;
    margin: 10px;
    padding: 20px;
}
.widgetInnerTable {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent!important;
}
.widgetInnerTable td {
    border: 0!important;
    padding-bottom: 0!important;
}
.removeBtn {
    border: 0;
    background-color: transparent;
    padding-top: 0;
    padding-left: 0;
}
.removeBtn:hover, .removeBtn:focus {
    background-color: transparent!important;
}
.noPadTop {
    padding-top: 0!important;
}
