doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        meta(name="author", content="tkachenko1503")
        meta(name="keyword" content="dashboard")
        meta(name="description", content="")

        title Natimatica – Dashboard

        //right slidebar
        link(href="/vendor/style/slidebars.css", rel="stylesheet")
        //common style
        link(href="/vendor/style/style.css", rel="stylesheet")
        link(href="/vendor/style/style-responsive.css", rel="stylesheet")

    body
        div#nativkaApp

        script(type='text/javascript').
            window._INITIAL_PROPS = window._INITIAL_PROPS || {};
            window._INITIAL_PROPS.MODE = "#{env}";

        script(src="/vendor.bundle.js")
        script(src="/app.bundle.js")
