.dropzone {
    width: 40%;
    display: inline-block;
    height: 50px;
    border: 1px dashed #8d8d8d;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}

.manual {
    width: 40%;
    margin-top: 10px;
    padding: 10px;
}

.or {
    margin: 10px;
}

.campaign {
    margin: 40px 0;
}

.campaignText {
    padding: 0 20px;
}

.file {
    margin: 30px 0;
}

.fileName {
    font-weight: bold;
    padding: 0 20px;
}