doctype html
html
    head
        - var fontUrl = host + '/vendor/fonts/PFDinDisplayPro-Light.ttf';

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

        title Natimatica – Dashboard

        style(type='text/css') #{styles}


        style(type='text/css').
            @font-face {
                font-family: 'PFDinDisplayPro-Light';
                src: url('#{fontUrl}') format('truetype');
                font-weight: normal;
                font-style: normal;
            }

            body, .c3 svg {
                font-family: 'PFDinDisplayPro-Light'!important;
            }

    body
        #nativkaApp
            .sticky-header.app-container(data-reactroot='')
                section
                    .layout__content___1A5ZR.body-content(style='margin-left: 0; padding-top: 0;')
                        .header-section(style='left: 0; position: static;')
                            .logo.dark-logo-bg.hidden-xs.header__whiteLogo___2EROh(style='display: inline-block!important; position: static;')
                                img.header__logo___3nhLi(src=host + '/vendor/img/Natimatica-logo.png', alt='Natimatica')
                            h3(style='height: 40px; line-height: 40px; margin-top: 10px; margin-left: 10px; display: inline-block; font-size: 16px;')
                                span= site
                                span(style='margin-left: 20px; font-size: 14px;') #{prettyDates.from} - #{prettyDates.to}
                        .dashboard-container
                            .wrapper
                                .dashboard__dashboardGrid___PSs0e.container-fluid
                                    .row
                                        .col-xs-12
                                            table(border=1, width='100%')
                                                tr
                                                    each field in htmlReportData.fields
                                                        th(style='text-align:right')= field.label

                                                each row in htmlReportData.data
                                                    tr
                                                        each field in htmlReportData.fields
                                                            - var cellValue = typeof field.value === 'function' ? field.value(row) : row[field.value];
                                                            td(align='right')= cellValue
                                .dashboard__dashboardGrid___PSs0e.container-fluid
                                    .state-overview.row
                                        .col-xs-3
                                            .purple.dashboard__overviewPanel___1a9zA.dashboard__dashboardPanel___1HEfe.dashboard__overviewPanel___1a9zA.dashboard__dashboardPanel___1HEfe-default
                                                .dashboard__overviewPanel___1a9zA.dashboard__dashboardPanel___1HEfe-body
                                                    .value.white.dashboard__overviewPanelValue___S_vSl
                                                        h1(style='width: 120px; font-size: 20px; text-align: center; margin-top: 50px;')= summaries[0].value
                                                        p(style='width: 120px; text-align: center;')= summaries[0].title

                                        .col-xs-3
                                            .dashboard__overviewPanel___1a9zA.dashboard__dashboardPanel___1HEfe.dashboard__overviewPanel___1a9zA.dashboard__dashboardPanel___1HEfe-default
                                                .dashboard__overviewPanel___1a9zA.dashboard__dashboardPanel___1HEfe-body
                                                    .value.gray.dashboard__overviewPanelValue___S_vSl
                                                        h1(style='width: 120px; font-size: 20px; text-align: center; margin-top: 50px;')= summaries[1].value
                                                        p(style='width: 120px; text-align: center;')= summaries[1].title

                                        .col-xs-3
                                            .green.dashboard__overviewPanel___1a9zA.dashboard__dashboardPanel___1HEfe.dashboard__overviewPanel___1a9zA.dashboard__dashboardPanel___1HEfe-default
                                                .dashboard__overviewPanel___1a9zA.dashboard__dashboardPanel___1HEfe-body
                                                    .value.white.dashboard__overviewPanelValue___S_vSl
                                                        h1(style='width: 120px; font-size: 20px; text-align: center; margin-top: 50px;')= summaries[2].value
                                                        p(style='width: 120px; text-align: center;')= summaries[2].title

                                        .col-xs-3
                                            .dashboard__overviewPanel___1a9zA.dashboard__dashboardPanel___1HEfe.dashboard__overviewPanel___1a9zA.dashboard__dashboardPanel___1HEfe-default
                                                .dashboard__overviewPanel___1a9zA.dashboard__dashboardPanel___1HEfe-body
                                                    .value.gray.dashboard__overviewPanelValue___S_vSl
                                                        h1(style='width: 120px; font-size: 20px; text-align: center; margin-top: 50px;')= summaries[3].value
                                                        p(style='width: 120px; text-align: center;')= summaries[3].title

                                .dashboard__dashboardGrid___PSs0e.container-fluid
                                    .row(style='page-break-after: always;')
                                        .col-xs-12
                                            .dashboard__chartPanel___20AHb.panel.dashboard__chartPanel___20AHb.panel-default
                                                .dashboard__chartPanel___20AHb.panel-heading
                                                    .dashboard__chartPanel___20AHb.panel-title Эффективность
                                                .dashboard__chartPanel___20AHb.panel-body
                                                    #efficiency-chart.earning-chart-space.chart__fixChartTooltipAlign___1GUIR
                                    .row
                                        .col-xs-12
                                            .dashboard__chartPanel___20AHb.panel.dashboard__chartPanel___20AHb.panel-default(style='margin-bottom: 0;')
                                                .dashboard__chartPanel___20AHb.panel-heading(style='page-break-before: always;')
                                                    .dashboard__chartPanel___20AHb.panel-title Загрузки виджета/CTR
                                                .dashboard__chartPanel___20AHb.panel-body(style='padding-bottom: 0;')
                                                    #load-chart.earning-chart-space.chart__fixChartTooltipAlign___1GUIR


        script(src=host + '/vendor/js/d3.min.js')
        script(src=host + '/vendor/js/c3.min.js')

        script.
            document.addEventListener("DOMContentLoaded", function () {
                c3.generate(!{efficiencyConfig});
                c3.generate(!{additionalRedirects});
            });
