/* Ion.RangeSlider, Flat UI Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    background: #f3f3f3
}

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 50px;
}
.irs-line {
    height: 8px; top: 25px;
}
.irs-line-left {
    height: 8px;
}
.irs-line-mid {
    height: 8px;
}
.irs-line-right {
    height: 8px;
}

.irs-bar {
    height: 8px; top: 25px;
    background: #ed5565;
}
.irs-bar-edge {
    top: 25px;
    height: 8px;
    background: #ed5565;
}

.irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.irs-slider {
    width: 4px;
    cursor: pointer;
    height: 14px;
    top: 22px;
    background: #ed5565;
}
.irs-slider.state_hover, .irs-slider:hover {
    /*background-position: 0 -150px;*/
}

.irs-min, .irs-max {
    color: #8d8d8d;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #f3f3f3;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #ed5565;
    border-radius: 10px;
}
.irs-from:after, .irs-to:after, .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -5px; left: 50%;
    width: 0; height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #ed5565;
}


.irs-grid-pol {
    background: #e1e4e9;
}
.irs-grid-text {
    color: #999;
}

.irs-disabled {
}



/*primary color*/

.primary .irs-bar,
.primary .irs-bar-edge,
.primary .irs-slider,
.primary .irs-from,
.primary .irs-to,
.primary .irs-single {
    background: #a978d1;
}

.primary .irs-from:after,
.primary .irs-to:after,
.primary .irs-single:after {
    border-top-color: #a978d1;
}


/*success color*/

.success .irs-bar,
.success .irs-bar-edge,
.success .irs-slider,
.success .irs-from,
.success .irs-to,
.success .irs-single {
    background: #5cc691;
}

.success .irs-from:after,
.success .irs-to:after,
.success .irs-single:after {
    border-top-color: #5cc691;
}



/*info color*/

.info .irs-bar,
.info .irs-bar-edge,
.info .irs-slider,
.info .irs-from,
.info .irs-to,
.info .irs-single {
    background: #69c2fe;
}

.info .irs-from:after,
.info .irs-to:after,
.info .irs-single:after {
    border-top-color: #69c2fe;
}



/*warning color*/

.warning .irs-bar,
.warning .irs-bar-edge,
.warning .irs-slider,
.warning .irs-from,
.warning .irs-to,
.warning .irs-single {
    background: #f1c500;
}

.warning .irs-from:after,
.warning .irs-to:after,
.warning .irs-single:after {
    border-top-color: #f1c500;
}



/*danger color*/

.danger .irs-bar,
.danger .irs-bar-edge,
.danger .irs-slider,
.danger .irs-from,
.danger .irs-to,
.danger .irs-single {
    background: #ff6c60;
}

.danger .irs-from:after,
.danger .irs-to:after,
.danger .irs-single:after {
    border-top-color: #ff6c60;
}
